---
const { id, title, authors, pages, year, volume, booktitle, journal, type, bibType, url, doi, tr, code } = Astro.props;
var confNick = null;
if (booktitle) {
  const i = booktitle.lastIndexOf(',');
  const j = booktitle.lastIndexOf(' ');
  confNick = booktitle.substring(i + 2, j);
}
---
<div class="flex flex-col">
  <a href="#" id={id} style="display: none">{id}</a>
  <div class="font-medium">
    {title}
  </div>
  <div class="">{authors.join("; ")}</div>
  <div class="italic">{booktitle || journal}. {volume ? `${year}, ${volume}, ` : ""}{pages}</div>
  <div class="flex flex-row gap-1">
    {url && <a href={url} target="_blank" class="badge badge-primary">PDF</a>}
    {tr && <a href={tr} target="_blank" class="badge badge-primary">Tech. Report</a>}
    {code && <a href={code} target="_blank" class="badge badge-primary">Code</a>}
    {type === "conference" && <div class="badge badge-info">conference</div>}
    {type === "journal" && <div class="badge badge-success">journal</div>}
    {type === "workshop" && <div class="badge">workshop</div>}
    {type === "conference" && <div class="badge badge-ghost">{confNick}</div>}
    {doi && <div class="badge badge-error">doi: {doi}</div>}
  </div>
</div>
